<html>
    <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8"></meta>

    </head>
    <body>
        <div class="card border-info mb-3 text-center" style="max-width: 18rem;">
            <div class="card-header">${replies.name}</div>
            <div class="card-body">
              <h5 class="card-title">${replies.id}</h5>
              <p class="card-text">Email: ${replies.email}<a href="#"><span class="glyphicon glyphicon-envelope"></span></a></p>
              <p class="card-text">Github UN: ${replies.github}</p>
              <p class="card-text">ID: ${replies.id}</p>
            
            </div>
          </div>
          

    </body>
</html>